.text-center {
    text-align: center;
}

#html-content {
    padding: 20px;
}

#html-input {
    width: 100%;
}

.btn-container {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.loading-inactive {
    display: none;
}

.loading-active {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}